# Jetstream2 variables and credentials
USER="ubuntu"
FLAVOR="m3.large"
FLAVOR_BLAST="m3.quad"
FLAVOR_ASSIGNXL="m3.xl"
IMAGE="Featured-Ubuntu22"
SSHKEY=[GET_SSH_KEY_NAME]
JSCRED=[GET_PATH_TO_OPENRC_FILE]
SECURITY=[GET_SECURITY_GROUP]
NETWORK=[GET_NETWORK_ID]
VOLUME=300 # default volume
VOLUME_ECOPCR=0
VOLUME_QC=1000
VOLUME_ASSIGN=500
SSHCONFIG="/home/$USER/.ssh/config"
BRANCH=master
HOSTNAME="hostnames"

#GRAFANA
DATASOURCE="/etc/grafana/provisioning/datasources/datasources.yaml"
DASHBOARD=/var/lib/grafana/dashboards/overview.json

#AUTOSCALING
MAX_TOTAL=35
MAX_ECOPCR=5
MAX_BLAST=5
MAX_AC=5
MAX_NEWICK=5
MAX_TRONKO=5
MAX_QC=5
MAX_ASSIGN=5
MAX_ASSIGNXL=2