[Unit]
Description=Ben Ancestralclust Job Scheduler Server
After=network-online.target
Requires=grafana-server.service

[Service]
User=ubuntu
Type=forking
WorkingDirectory=/home/ubuntu/t-rex-monitor/scheduler/servers
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/home/ubuntu/miniconda/envs/webhook/bin"
ExecStart=/bin/bash ./ben-servers.sh "ac" "/tmp/ben-ac"
TimeoutSec=600
Restart=never
RestartSec=5s

[Install]
WantedBy=multi-user.target