[Unit]
Description=Ben Log Counter for PushGateway
After=network-online.target

[Service]
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/t-rex-monitor/scheduler/logs/error_counter.sh
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
