[Unit]
Description=Ben Jobs Service
After=network-online.target
Requires=grafana-server.service

[Service]
User=ubuntu
WorkingDirectory=/etc/ben/jobs
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/home/ubuntu/.conda/envs/webhook/bin"
ExecStart=/usr/local/miniconda/bin/python3 node_util.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target