[Unit]
Description=Ben Supabase Service
After=network-online.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/t-rex-monitor/scheduler/supabase
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/home/ubuntu/miniconda/envs/supabase/bin"
ExecStart=/bin/bash -c './supabase_ben.sh'
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
